<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="email" (ngSubmit)="resetPassword()" >
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Please provide the email address that you used when you signed
      up for your ArcheryBuddy account.
    </small>
  </form>
</ion-content>
