ion-textarea {
    --border-color: var(--ion-color-danger, #f1453d);
}

ion-item {
    margin-top: 5%;
}

ion-button {
    margin: 0 0 0 0;
}

ngx-datatable {
    width: 100%;
}

.tableInput {
    font-weight: bolder;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    pointer-events: none;
    text-align: center;
}

.card-titles {
    margin-top: 1%;
    font-weight: bolder;
    text-align: center;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 1%;
}

.ngx-datatable.bootstrap .datatable-header {
    display: flex !important;
    align-items: center!important;
    text-justify: distribute;
    text-align: justify;
}
.ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center;;
 }
