// @import '~@swimlane/ngx-datatable/index.css';
// @import '~@swimlane/ngx-datatable/themes/material.scss';
// @import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
// @import '~@swimlane/ngx-datatable/assets/icons.css';

ngx-datatable {
    width: 100%;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
    padding: 1%;
}

.ngx-datatable.bootstrap .datatable-header {
    display: flex !important;
    align-items: center!important;
    text-justify: distribute;
    text-align: justify;
}
.ngx-datatable .datatable-body .datatable-body-row > div {
    align-items: center;;
 }
