<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- Side menu -->
    <ion-menu side="start" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="end">
            <ion-button class="logoutBtn" (click)="logout()">Logout</ion-button>
          </ion-buttons>
          <ion-title>ArcheryBuddy</ion-title>
        </ion-toolbar>
      </ion-header>

    <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <button (click)="logout()">page</button> -->
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Main content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>