<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Frontpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="title">Statistics - Scoring</ion-label>
  </ion-item>

  <ngx-datatable
    class="bootstrap"
    [rows]="scorings"
    [rowHeight]="'auto'"
    [headerHeight]="50"
    [columnMode]="'force'" 
    [loadingIndicator]="loadingIndicator"
    [swapColumns]="swapColumns"
    [columns]="columns"
    [limit]="4"
  >

  <ngx-datatable-column name="total"></ngx-datatable-column>
  <ngx-datatable-column name="Rounds"></ngx-datatable-column>
  <ngx-datatable-column name="AveragePrRound"></ngx-datatable-column>
</ngx-datatable>

  <ion-item>
    <ion-label class="title" color="black">Statistics - Physical training</ion-label>
  </ion-item>
  <ngx-datatable
    class="bootstrap"
    [rows]="allTrainings"
    [rowHeight]="'auto'"
    [headerHeight]="50"
    [columnMode]="'force'" 
    [loadingIndicator]="loadingIndicator"
    [swapColumns]="swapColumns"
    [columns]="columns"
    [limit]="4"
  >
  <ngx-datatable-column class="tableInput" name="Date"></ngx-datatable-column>
  <ngx-datatable-column class="tableInput" name="Category"></ngx-datatable-column>
  <ngx-datatable-column class="tableInput" name="Time"></ngx-datatable-column>
</ngx-datatable>
  
  <ion-item lines="none" class="test">
    <ion-label position="stacked" class="title">Goals</ion-label>
    <ion-textarea
      border-color="none"
      cols="20"
      [(ngModel)]="goal"
      readonly>
    </ion-textarea>
  </ion-item>
</ion-content>
